{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.featured: Items for the featured content region.
 * - page.breadcrumb: Items for the breadcrumbs region.
 * - page.content_top: The top content of the current page.
 * - page.content: The main content of the current page.
 * - page.content_bottom: The bottom content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer_top: Items for the top footer region.
 * - page.footer_bottom: Items for the bottom footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {% if page.featured %}
    {{ page.featured }}
  {% endif %}

  {% if page.breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <main role="main">
    <div class="content-wrapper">
      {% if page.content_top %}
        {{ page.content_top }}
      {% endif %}

      {{ page.content }}

      {% if page.content_bottom %}
        {{ page.content_bottom }}
      {% endif %}
    </div>

    {% if page.sidebar_first %}
      {{ page.sidebar_first }}
    {% endif %}

    {% if page.sidebar_second %}
      {{ page.sidebar_second }}
    {% endif %}
  </main>

  {% if page.footer_top or page.footer_bottom %}
    <footer role="contentinfo">
      {{ page.footer_top }}
      {{ page.footer_bottom }}
    </footer>
  {% endif %}

</div>
