{#
/**
 * @file
 * Theme override to display the user login page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Regions:
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container user-auth-container">

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <main role="main">
    <div class="content-wrapper">
      <div class="logo-wrapper">
        {{ logo }}
      </div>

      {{ page.content }}

      {% block links %}
      {% endblock %}
    </div>
  </main>

</div>
