{% extends  '@amino_theme/user/user-auth.html.twig' %}

{% block links %}
  <div class="links-wrapper">
    <div class="login-link">
      <a href="{{ path('user.login') }}">{{ 'Log in'|t }}</a>
    </div>

    {% if can_register %}
      <div class="register-link">
        <a href="{{ path('user.register') }}">{{ 'Register a new account'|t }}</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
