{% extends  '@amino_theme/user/user-auth.html.twig' %}

{% block links %}
  <div class="links-wrapper">
    <div class="login-link">
      <a href="{{ path('user.login') }}">{{ 'Log in'|t }}</a>
    </div>

    <div class="password-link">
      <a href="{{ path('user.pass') }}">{{ 'Forgot your password?'|t }}</a>
    </div>
  </div>
{% endblock %}
